@import "colores";

body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.grid__container{
    display: grid;
    grid-template-areas: 'header''main''footer';
}

/*header*/

nav{
    background:$colorPrimario;
    height: 125px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 0;
    margin: 0;
}

.logo{
    width: 150px;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.contorno{
    -webkit-text-stroke-color: 3px #000000;

}

#check{
    display: none;
}

.text__nav1{
    font-size: 25px;
}

.text__nav2{
    margin-top: 10px;
    font-size: 21px;
}

/*header*/

/*footer*/

footer{
    width: 100%;
    padding: 10px 0px;
    background-image: url(../background-footer.svg);
    background-size: cover;
    background-color: $colorPrimario;
}

.footer{
    grid-area: footer;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
}

.logo2{
    width: 350px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 140px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    .logo{
        img{
            width: 200px;
        }
    }
    h2{
        margin-bottom: 30px;
        color: #000000;
        font-weight: 700;
        text-align: center;
    }
    a{
        height: 25px;
        margin-top: 15px;
        color: #ffffff;
        font-weight: 600;
        border-radius: 30%;
        text-align: center;
        &:hover{
            background: rgb(226, 134, 189);
            transition: 0.5s;
        }
    }
}

/*footer*/

.main{
    grid-area: main;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 150px 50px;
}

.tituloprodructos{
    position: relative;
    top: 150px;
}

/*esto lo hice para practicar*/

.img{
    width: 450px;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
    filter: blur(0px);
    border-radius: 2%;
    &:hover{
        transform: scale(1.07);
    border-radius: 5%;
    filter: blur(0.8px);
    }
}

.page__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 2px solid rgb(197, 149, 178);
    margin-bottom: 60px;
}

.product__container{
    margin-left: 15px;
    padding: 2px 16px;
    &:hover{
        box-shadow: 0 8px 16px 0 rgb(58, 56, 56);
        transition: all 0.7s;
        border-radius: 3%;
        zoom: 100.5%;
    }
    img{
        width: 390px;
    }
}

.img__producto{
    object-fit: cover;
    transition: 0.5s;
    border-radius: 2%;
    &:hover{
        transform: scale(1.2);
        border-radius: 5%;
    }
}

.img__destacado{
    width: 100%;
}

.destacado{
    transition: 1s;
    margin-bottom: -140px;
    &:hover{
        transform: scale(1.01);
        transition: 1s;
    }
}

.button_destacado{
    display: inline-block;
    justify-content: center;
    margin-left: 45px;
    border: none;
    font-size: 16px;
    transition-duration: 40ms;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid $colorPrimario;
    &:hover{
        background-color: $colorPrimario;
        color: white;
        transition: 0.2s;
    }
}

.text__destacado{
    background: #575757;
    padding: 35px;
    position: absolute;
    width: 100%;
    opacity: 77%;
}

.text__destacado__title{
    color: white;
    font-size: 40px;
    margin-left: 60px;
}

.text__destacado__title2{
    color: white;
    font-size: 28px;
    margin-left: 60px;
    margin-top: -10px;
}

.button__add{
    border: none;
    font-size: 16px;
    transition-duration: 40ms;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid $colorPrimario;
    &:hover{
        background-color: $colorPrimario;
        color: white;
        transition: 0.2s;
    }
}

.sumbit__button{
    border: none;
    font-size: 16px;
    transition-duration: 40ms;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid $colorPrimario;
}

main{
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.contacto{
    display: inline-block;
    justify-content: center;
    width: 400px;
    padding: 70px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 4px;
    background-color: rgb(196, 134, 172);
    color: white;
}

.input__contacto{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom:10px;
    border: 1px solid $colorPrimario;
}

@media (max-width: 1024px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    #logo__mediaqueri{
        position: fixed;
        display: flex;
        justify-content: right;
    }
    .text__destacado{
        width: 1025px;
        height: 90px;
    }
    .text__destacado__title{
        margin-top: -35px;
        font-size: 20px;
    }
    .text__destacado__title2{
        font-size: 25px;
    }
    .button_destacado{
        font-size: 12px;
    }
    .logo{
        width: 130px;
    }
    .logo2{
        width: 150px;
    }
    .img{
        width: 400px;
        height: 250px;
    }
}

@media (max-width: 768px){
    .destacado__box{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    .text__destacado{
        width: 0px;
        height: 0px;
    }
    .productos{
        padding: 200px 50px;
    }
    
    .tituloprodructos{
        top: 200px;
    }
    .img{
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 425px){
    .img{
        width: 380px;
        height: 200px;
    }
    .logo{
        width: 130px;
    }
    .destacado__box{
        margin-bottom: 100px;
    }
    .destacado__box{
        visibility: hidden;
    }
    .text__destacado{
        width: 0px;
        height: 0px;
    }
}
    
